[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

django-cors-headers = "==2.1.0"
Django = "==1.11.2"
djangorestframework = "==3.5.4"
django-api-commons = "==1.0.2"
social-auth-core = "==1.4.0"
social-auth-app-django = "==1.2.0"


[dev-packages]
